:root {
--main-color:#023875;
}
/*@import url(reset.css);*/
*{
	padding:0;
	margin:0;
	font-family: 'Arial', sans-serif;  
}
.wrapper:before{
	content: "";
	display: block;
	height: 43px;
	background-color: var(--main-color);
}
header{
	text-align: center;
	color: var(--main-color);
	padding-bottom: 20px;
}
main{
	padding: 20px 0;
}
span{
	display: block;
	padding: 5px 0;
}
header, .main_aside{
	padding:0 15px;
}
.logo_text{
	width: 270px;
	margin-right: auto;
	margin-left: auto;
}
.logo_text1, .main__text1, .logo_tel{
	font-size: 24px;
}
.logo_text2{
	font-size: 48px;
}
.logo_text3{
	font-size: 13px;
}
.hour_24, .logo_text3{
	color: #000;
}
.background{
	display: none;	
	height: 200px;
	background-image: url(../img/town.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.main__text1{
	color: var(--main-color);
}
.main_aside{
	display: flex;
	flex-direction: column;
}
aside{
	text-align: center;
	order: -1;
}
aside span{
	padding-top: 10px;
}
.btn1{
	width: 300px;
	background-color: var(--main-color);
	padding: 15px;
	color: #fff;
	font-size: 18px;
	margin-left: auto;
	margin-right: auto;
}
li{
	list-style: none;
	padding-top: 10px;
}
a{
	color: var(--main-color);
}
footer{
	height: 45px;
	background-color: var(--main-color);
	color: #fff;
	text-align: center;
	line-height: 45px;
}
@media screen and (min-width: 960px){
	body{
		background-image: url(../img/bodyBG.png);
		background-size: contain;
	}
	.wrapper{
		width: 960px;
		margin-right: auto;
		margin-left: auto;
	}
	.background{
		display: block;
	}
	header{
		display: flex;
	}
	header span{
		display: block;
	}
	.header__wrap{
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
	.right{
		display: flex;
		flex-direction: column;
		padding-top: 20px;
	}
	.main_aside{
		flex-direction: row;
		padding-top: 20px;
	}
	aside{
		text-align: left;
		order: 0;
	}
	.btn1{
		text-align: center;
	}
}
