@import url(reset.css);
:root {
--main-color:#0087e4;
}
*{
	padding:0;
	margin:0;
	box-sizing: border-box;
	font-family: 'Arial', sans-serif;
}
img{
	display: block;
}
header{
	border-top: 6px solid #f8e27b;
}
header:before{
	content: "";
	display: inline-block;
	width: 10px;
	height: 10px;
	transform: rotate(45deg);
	background-color: #f8e27b;
	position: relative;
	top: -9px;
	left: 50%;
}
a{
	color: var(--main-color);
}
.text{
	color: #848181;
}
.container{
	max-width: 960px;
	margin: 0 auto;
	padding: 10px
}
.row{
	text-align: center;
	margin: 0 -5px;
}
.btn{
	display: inline-block;
	background-color: #fae851;
	width: 115px;
	height: 30px;
	border-radius: 15px;
	line-height: 30px;
	padding-left: 10px;
	text-decoration: none;
	color: #433939; 
}
.sprite{	
	background-image: url(../img/sprite.png);
}
.btn1{
	background-position: -29px -59px;
}
.btn2{
	background-position: -29px -24px;
}
.social_networks{
	text-align: center;
	padding-top: 15px;
}
.social_icon{
	height: 32px;
	width: 32px;
	display: inline-block;
	border: 1px solid #1d9feb;
	border-radius: 50%;
}
.bg1{
	background-position: -30px -98px;
}
.bg2{
	background-position: -67px -98px; 
}
.bg3{
	background-position: -105px -98px;
}
.row_top{
	border-bottom: 1px solid #b2def8;
}
.contakts{
	display: flex;
	justify-content: space-around;
	padding: 15px 0;
}
.contakts a{
	padding-left: 20px;
}
.skype{
	background-position: -160px -28px;
}
.icq{
	background-position: -160px -62px;
}
.mail{
	background-position: -160px -93px;
}
.midle_row{
	padding: 15px 0;
}
.number_phone{
	font-size: 16px;
}
.dashed{
	text-decoration: underline dashed;
	display: inline-block;
}
.number_phone{
	text-decoration: none;
	color: #676767;
}
.midle_left p{
	padding-top: 15px;
}
.first_title{
	padding-top: 15px;
}
.first_title p{
	font-size: 36px;
	color: var(--main-color);
}
.colortext{
	color: #f4cf23;
}
.midle_left{
	padding: 15px 0;
}
.first_title p:after{
	content: "";
	display: block;
	width: 55px;
	height: 3px;
	background-color: #000;
	margin: 0 auto;
}
.midle_right a{
	padding-left: 30px;
	font-size: 12px;
}
.basket{
	background-position: -28px -153px;
}
.heart{
	background-position: -24px -193px;
}
.span1 a{
	padding: 10px;
	text-decoration: none;
	color: #676767;
	font-style: italic;
}
ul li{
	display: inline-block;
}
.span2 li{
	padding-top: 5px;
}
.span2 a{
	padding: 10px;
	text-decoration: none;
	color: #676767;
	text-transform: uppercase;
}
.span2{
	padding-top: 15px;
	font-size: 14px;
	font-weight: bold;
}
main{
	border-top: 1px solid #fbeca7;
	text-align: center;
}
.bg_vushuvanka{
	height: 139px;
	background-image: url(../img/Vushuvanka.png);
	background-repeat: no-repeat;
	opacity: 0.2;
	position: relative;
	top: 112px;
	margin-top: -112px;
	z-index: -1;
}
.bg_vushuvanka_rotate{
	transform: rotate(180deg);
	height: 139px;
	background-image: url(../img/Vushuvanka.png);
	background-repeat: no-repeat;
	opacity: 0.2;
	transform: rotate(180deg);
}
.slide{
	background-color: #fff;
	border: 2px solid #f4cf23;
}
.slide_title{
	font-size: 32px;
	font-weight: bold;
	color: var(--main-color);
}
.slide_text{
	font-size: 12px;
	padding: 15px 0;
}
.slide_img img{
	display: none;
}
.slide_price{
	font-size: 22px;
	font-weight: bold;
	padding-left: 20px;
	background-position: -33px -223px;
	background-repeat: no-repeat;
}
.slide_action a{
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
}
.slide_action{
	padding: 10px 0;
}
.action_percent{
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	color: var(--main-color);
	background-color: #f4e23b;
	line-height: 50px;
	font-size: 14px;
	font-weight: bold;
}
.hot_offer{
	background-color: #fff;
}
.hot_offer{
	width: 235px;
	height: 100px;
	border: 2px solid var(--main-color);
	margin: 10px auto;
	display: flex;
}
.hot_offer_span{
	display: flex;
	flex-direction: column;
	text-align: left;
	padding: 10px 0 10px 10px;
	font-size: 14px;
}
.hot_offer_price{
	padding-left: 20px;
	background-position: -36px -217px;
	padding-top: 15px;
	font-weight: bold;
}
.hot_offer_text{
	padding: 5px 0;
}
.reklama{
	padding-top: 15px;
	font-weight: bold;
	font-size: 22px;
	display: block;
	color: var(--main-color);
}
.services{
	padding-top: 20px;
}
.services_icon{
	margin: 0 auto;
	width: 64px;
	height: 64px;
	background-color: var(--main-color);
	border-radius: 50%;
}
.imige_bg{
	background-position: -139px -124px;
}
.consultant_bg{
	background-position: -140px -170px;
}
.delivery_bg{
	background-position: -127px -231px;
}
.services_name{
	font-style: italic;
}
.services_title{
	font-size: 14px;
	font-weight: bold;
}
.services_item div{
	padding-top: 15px;
}
.services_link{
	display: block;
	padding-top: 15px;
}
.second_title_text{
	font-size: 22px;
	font-weight: bold;
	color: var(--main-color);
	padding: 10px 0;
}
.second_title_text:after{
	content: "";
	display: block;
	width: 55px;
	height: 2px;
	background-color: #000;
	margin: 20px auto;
}
.second_title a{
	display: block;
	padding-top: 15px;
}
.second_title{
	padding-top: 15px;
}
.fb_slider_offer{
	width: 230px;
	font-size: 14px;
	margin: 0 auto;
}
.fb_slider_offer_item{
	color: var(--main-color);
	text-decoration: none;
}
.fb_slider_basket{
	width: 100px;
	height: 30px;
	border-radius: 15px;
	background-color: #fae851;
	line-height: 30px;
	background-position: -24px -145px;
	padding-left: 20px;
	margin: 0 auto;
}
.fb_slider_offer span{
	display: block;
}
.fb_slider_offer_price{
	padding: 10px 0;
}
.fb_slider img{
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}
.action{
	position: relative;
}
.position{
	position: absolute;
	right: 8px;
}
.one_klik{
	display: block;
	text-decoration: underline;
	font-style: italic;
	padding: 10px 0;
}
.third_title a{
	font-size: 22px;
	font-style: italic;
	padding: 15px 0;
}
.third_title span{
	display: block;
	font-size: 45px;
	font-weight: bold;
	color: var(--main-color);
}
.action_text{
	font-size: 40px;
	font-weight: bold;
	padding-top: 20px;
	color: var(--main-color);
}
.percent{
	font-size: 103.16px;
	font-weight: bold;
	color: #f4e23b;
}
.row_action img{
margin: 0 auto;
}
.news_coments_title span{
	font-size: 18px;
	font-weight: bold;
	color: var(--main-color); 
}
.news_coments_title a{
	font-style: italic;
	font-size: 12px;
}
.news_coments_title{
	display: flex;
	justify-content: space-between;
	padding: 20px;
}
.news_coments_text{
	font-size: 12px;
	display: flex;
	flex-direction: column;
}
.news_coments_text span{
	padding: 10px 0;
}
.news_text_color{
	font-size: 14px;
	font-weight: bold;
	color: var(--main-color);
}
.coments img{
	margin: 0 auto;
}
.coments_name{
	font-weight: bold;
	font-size: 14px;
}
.news_coments_text img{
	width: 75px;
	height: 75px;
	margin: 0 auto;
}
.numbers_phone{
	font-size: 20px;
}
.bottom_menu span, .bottom_menu a{
	display: block;
	padding-top: 10px;
}
.goods, .contakts_bottom_menu{
	padding: 20px 0;
}
footer{
	height: 48px;
	background-color: var(--main-color);
	text-align: center;
	color: #fff;
	line-height: 48px;
}
footer a{
	color: #fff;
}
@media screen and (min-width: 960px){
	.col-3-4{
		width: calc(100% / 12 * 9 - 30px);
	}
	.col-1-4{
		width: calc(100% / 12 * 3 - 30px);
	}
	.col-1-6{
		width: calc(100% / 12 * 2 - 30px);
	}
	.col-1-2{
		width: calc(100% / 12 * 6 - 30px);
	}
	.col-1-3{
		width: calc(100% / 12 * 4 - 30px);
	}
	.row{
		display: flex;
	}
	.row_top{
		display: flex;
		justify-content: space-between;
		padding-bottom: 20px;
	}
	.social_networks{
		padding-top: 0;
	}
	.contakts{
		padding-right: 10px;
	}
	.midle_row{
		display: flex;
		justify-content: space-between;
	}
	.midle_left{
		order: -1;
		text-align: left;
	}
	.midle_right{
		order: 1;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: space-around;
		align-items: flex-end;
		align-content: stretch;
	}
	.bottom_row{
		flex-direction: column;
	}
	.main_row{
		height: 310px;
	}
	.slide_img img{
		display: inline-block;
	}
	.slide{
		margin-right: 10px;
		display: flex;
		position: relative;
	}
	.arow{
		position: absolute;
		width: 37px;
		height: 37px;
		border-radius: 50%;
		background-color: #fae851;
		background-image: url(../img/arow.png);
		background-repeat: no-repeat;
		background-size: auto;
		background-position: 13px 8px;
	}
	.position_arow_left{
		top: 135px;
		left: 8px;
		transform: rotate(180deg);
	}
	.position_arow_right{
		top: 135px;
		right: 8px;
	} 
	.slide_wrap{
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: space-around;
		align-items: flex-start;
		align-content: stretch;
		text-align: left;
		padding-left: 70px;
	}
	.action_percent{
		text-align: center;
	}
	.hot_offer_wrap{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.hot_offer{
		margin: 0 0;
	}
	.slide_title{
		padding-top: 40px;
	}
	.fb_slider{
		padding: 20px 0;
		position: relative;
	}
	.fb_slider_offer:hover{
		border: 2px solid var(--main-color);
	}
	.third_title{
		padding: 20px 0;
	}
	.third_title span{
		padding: 50px 0;
	}
	.row_action{
		margin: 0 34px;
		align-items: center;
	}
	.action_text{
		text-align: left;
	}
	.news_coments_title{
		border-bottom: 1px solid #b2def8;
	}
	.news{
		padding-right: 30px;
	}
	.news_coments_text{
		text-align: left;
	}
	.coments_wrap{
		display: flex;
		align-items: center;
	}
	.coments_wrap img{
		width: 73px;
		height: 73px;
	}
	.coments_wrap .news_coments_text{
		padding-left: 15px;
	}
	.bottom_menu{
		justify-content: space-between;
		align-items: center;
		text-align: left;
	}
}