body{
	background: url(../img/bg1.png);
	background-repeat: no-repeat;
	background-size: cover;
}
header{
	border-bottom: 2px solid #2109f7;
}
li{
	border-radius: 10px;
	text-align: center;
	margin: 5px 5px;
}
li:hover{
	transform: scale(1.2);
	cursor: pointer;
}
.row_header{
align-items: center;
text-align: center;
}
.personal_data{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.list-group{
	align-items: center;
}
