*{
	padding:0;
	margin:5px;  
}
h1{
	text-align: center;
}
header{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: space-between;
	/*градієнт*/
	background: rgb(230,240,163);
	background: linear-gradient(to bottom, rgb(230,240,163) 0%,rgb(210,230,56) 50%,rgb(195,216,37) 72%,rgb(219,240,67) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f0a3', endColorstr='#dbf043',GradientType=0 );
	/*градієнт*/ 
}
.personal_data{
	background-color:#ceef2b;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: stretch;
}
.paragraf{
	font-weight: bold;
}
.text{
	font-weight: normal;
}